{% extends 'manager/manager_base.html' %}
{% load static %}

{% block content %}
<style>
    .card {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .card-header {
        background-color: #51E2F5;
        color: white;
    }

    .card img {
        height: 200px;
        object-fit: cover;
    }

    .d-grid {
        gap: 1.5rem;
    }
</style>


<div class="container my-5" style="width: 90%">
    <h1 class="text-center mb-4">All Tour Packages</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'Manager:create_tour' %}">
          <button class="btn btn-primary me-md-2" type="button">Create Tour</button>
      </a>
    </div>
    <div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-3" style="grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));">
                {% for tour in tours %}
                    <div class="card">
                        <img src="{{ tour.image.url }}" class="card-img-top" alt="{{ tour.title }}">
                        <h5 class="card-header">{{ tour.title }}</h5>
                        <div class="card-body">
                            <p class="card-text">{{ tour.description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span>Location: </span>{{ tour.location }}</li>
                                <li class="list-group-item"><span>Adventure Type: </span>{{ tour.adventure_type }}</li>
                                <li class="list-group-item"><span>Price: </span>${{ tour.price }}</li>
                                <li class="list-group-item"><span>Start Date: </span>{{ tour.start_date }}</li>
                                <li class="list-group-item"><span>End Date: </span>{{ tour.end_date }}</li>
                                <li class="list-group-item"><span>Maximum Group Size: </span>{{ tour.max_group_size }}</li>
                                <li class="list-group-item"><span>Itinerary: </span>{{ tour.itinerary }}</li>
                            </ul>
                            <div class="d-flex gap-2 mt-3">
                                <a href="{% url 'Manager:edit_tour' tour.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'Manager:delete_tour' tour.id %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'Manager:create_booking' tour.id %}" class="btn btn-success">New Booking</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}