{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center align-items-center" >
        <div class="row justify-content-center p-4 align-items-center border border-1" style="width: 50%">
            <h1 class="text-dark">New Booking</h1>
                <form method="post" class="border border-0 text-dark mt-4 mb-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Book Now</button>
                </form>

        </div>
    </div>
</div>
{% endblock %}
