<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Your Bookings</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tour Name</th>
            <th>Date</th>
            <th>Number of People</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.tour.title }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.num_people }}</td>
            <td>${{ booking.total_price }}</td>
            <td>
                <a href="{% url 'user_booking_update' booking.pk %}">Edit</a> |
                <a href="{% url 'user_booking_delete' booking.pk %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">You have no bookings yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'Tour:user_booking_create' tour.id %}" class="btn btn-primary">Create New Booking</a>


</body>
</html>