<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-4">Available Tours</h2>
    <div class="row">
        {% for tour in tours %}
            <div class="col-md-4 mb-4">
                <div class="card">
                 <img src="{{ tour.image.url }}" class="card-img-top" alt="{{ tour.title }}" style="height: auto; width: 20%;">

                    <div class="card-body">
                        <h5 class="card-title">{{ tour.title }}</h5>
                        <p class="card-text">{{ tour.description|truncatechars:100 }}</p>
                        <p><strong>Price:</strong> ${{ tour.price }}</p>
                         <a href="{% url 'Tour:tour_detail' tour.id %}" class="btn btn-primary btn-lg">viewtour</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


</body>
</html>